@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.HeroSection {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.image {
  height: auto;
  object-fit: cover;
  width: 18%;
}

.HeroImgContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
  padding-inline: 50px;
}
.bgVideo {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  filter: blur(30px) brightness(0.3);
  object-fit: cover;
  z-index: -2;
}
.heading {
  font-family: orbitron;
}
.heroSlogan {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: calc(initial + 10px);
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -100px);
  border-radius: 10px;
}
.neonText {
  font-size: 48px;
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px var(--primary-color),
    0 0 30px var(--secondary-color), 0 0 30px var(--primary-color),
    0 0 30px var(--primary-color);
}
@media (max-width: 500px) {
  .subheading {
    font-size: 12px;
  }
}
