.signupformContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
  padding: 10px;
  width: 75%;
}
.nameWrapper {
  display: flex;
  width: 100%;
  gap: 15px;
}
.error {
  color: red;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 430px) {
  .inputsContainer {
    width: 90%;
  }
}
