.loadingWallContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.platformIcon {
  font-size: 34px;
}
.brokenController{
  fill: white;
}
.psIcon {
  /* color: #006fcd; */
  animation: psColorToggle 0.5s infinite alternate 0.2s;
}
.xboxIcon {
  /* color: #027900; */
  animation: xboxColorToggle 0.5s infinite alternate 0.4s;
}
.pcIcon {
  /* color: #e95722; */
  animation: pcColorToggle 0.5s infinite alternate 0.6s;
}

@keyframes psColorToggle {
  0% {
    color: default;
  }
  100% {
    color: #006fcd;
  }
}
@keyframes xboxColorToggle {
  0% {
    color: default;
  }
  100% {
    color: #027900;
  }
}
@keyframes pcColorToggle {
  0% {
    color: default;
  }
  100% {
    color: #e95722;
  }
}
