.PostsLayoutContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 20px 80px 20px;
}
.postsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-width: 200px;
}
@media (max-width: 426px) {
  .PostsLayoutContainer {
    align-items: center;
  }
  .postsSection {
    width: 100%;
  }
}
