.image {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(0.7);
}
.uploadFormContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  display: flex;
  background: rgba(13, 15, 19, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  border: 1px solid rgba(13, 15, 19, 0.77);
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px;
  height: 660px;
  width: 500px;
  overflow: hidden;
  gap: 60px;
}
.modalHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boldEmail {
  font-weight: 800;
}
.primaryBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: var(--primary-color);
}
.primaryBtn:hover {
  filter: brightness(0.7);
}
.verificationContainer {
  height: 70px;
}
.verificationCharacter {
  color: black;
  border: 3px solid var(--primary-color);
  height: 60px;
  background-color: white;
  border-radius: 10px;
}
.inactiveCharacter {
  color: black;
}
.filledCharacter {
  color: var(--primary-color);
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.disabledBtn {
  pointer-events: none;
}
