@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #22221b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --primary-color: #73267e;
  --secondary-color: #84568a;
  --border-radius: 5px;
  --main-bg-color: #22221b;
  --main-border-color: #eaeaea;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*::selection {
  background-color: black;
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  z-index: -999;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee14e;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
