.profilePage {
  display: flex;
  flex-direction: column;
  
}
.heroSection {
  width: 100%;
  position: relative;
  /* background-image: url("/public/images/God\ of\ War\ 4K\ HD\ desktop\ background\ wallpaper.jpg"); */
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}
.bgVideo {
  position: absolute;
  width: 100%;
  filter: grayscale(100%) brightness(70%) sepia(55%) hue-rotate(-100deg)
    saturate(500%) contrast(1) blur(5px);
}
.bgVideo > video {
  width: 100%;
  height: 100%;
}
.blurredLayer {
  width: 100%;
  height: 300px;
  backdrop-filter: blur(1px) brightness(0.5);
}
.imageWrapper {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: relative;
}
.userInfoWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: brightness(0.5) blur(10px);
  border: 1px solid transparent;
}
.userHeroSection {
  position: absolute;
  bottom: 75px;
  left: 30px;
}
.addFriendBtn {
  position: absolute;
  bottom: -10px;
  left: 25px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: all 0.3s;
  background-color: var(--primary-color);
}
.removeFriend {
  position: absolute;
  bottom: -10px;
  left: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: all 0.3s;
  background-color: darkred;
}
.addFriendBtn:hover {
  filter: brightness(0.7);
}
.userAvatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
}
.userNameAndPlatforms {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.userName {
  font-size: 24px;
}
.platformIconsContainer {
  display: flex;
  gap: 6px;
  position: relative;
  width: fit-content;
}
.platformIcon {
  cursor: pointer;
  font-size: 18px;
}
.PSIcon {
  color: #006fcd;
}
.PCIcon {
  color: #e95722;
}
.XboxIcon {
  color: #027900;
}
.singleIconContainer {
  /* position: relative; */
}
.platformDialog {
  display: flex;
  border-radius: 5px;
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 15px);
  transition: all 0.2s;
  user-select: none;
}
.dialogUsername {
  padding: 5px 10px;
}
.PCDialog {
  background-color: #e95722;
  /* display: none; */
}
.PSDialog {
  background-color: #006fcd;
  /* display: none; */
}
.XboxDialog {
  background-color: #027900;
}

.dialogIcon {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-radius: 5px 0 0 5px;
}
.dialogIcon > .platformIcon {
  color: white;
}
/* -------------------------------------- */

.userActivityWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: brightness(0.5) blur(10px);
  border: 1px solid transparent;
  height: 161.6px;
}
.userActivityContainer {
  position: absolute;
  bottom: 75px;
  right: 30px;
  /* height: 160px; */
}
.singleDetail {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
}
.singleDetail > span:nth-child(1) {
  font-weight: 700;
}
.singleDetail > span:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
}
