.createPage {
  height: 100vh;
  position: relative;
  padding: 20px 50px;
}
.mainContentContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  gap: 20px;
}
.PostFormConatiner {
  width: 50%;
  height: 540px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--primary-color);
  padding: 30px;
  border-radius: 16px;
  background-color: #121212;
}

.customOptionContainer {
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  gap: 20px;
}
.selectContainers {
  display: flex;
  gap: 30px;
}
.selectWrapper {
  display: flex;
  width: 50%;
  align-items: center;
  gap: 12px;
}
.captionTextArea {
  display: block;
  background-color: #121212;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200 !important;
  padding: 10px;
  width: 100%;
  overflow-wrap: break-word;
  resize: none;
  white-space: inherit;
}
.captionLength {
  position: absolute;
  bottom: -20px;
  right: 0;
}
.customOptionImage {
  width: 50px;
}
.option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease;
}

.selectGameImage {
  width: 50px;
}
.gameName {
  transition: all 0.3s;
}
.gameInfo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.gameInfo:hover {
  background-color: var(--primary-color);
}
.postType {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  transition: all 0.3s;
}
.postType:hover {
  background-color: var(--primary-color);
}
.spoilerControl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.submitBtn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: all 0.3s;
  background-color: var(--primary-color);
}
.submitBtn:hover {
  filter: brightness(0.7);
}
/* ------------------------------- */
.postPreviewContainer {
  width: 50%;
}

.postPreview {
  width: 100%;
  max-height: 540px;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userPosterInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
}
.postInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
}
.spoilerBluredLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(70px);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spoilerBluredLayer > button {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}
.spoilerBluredLayer > button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.postGameTypeWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.previewCaption {
  background-color: transparent;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-self: flex-start;
  width: 100%;
  overflow-wrap: break-word;
}
.postHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.postInfoHeader {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.postGame,
.postPreviewType {
  font-weight: 600;
  position: relative;
}
.postGame::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 50px;
  top: 4.5px;
  right: -15px;
}
.previewImageContainer {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.imagePlaceholder {
  width: 370px;
  height: auto;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.previewImage {
  width: 370px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  max-height: 307px;
  border-radius: 20px;
}
.postActionController {
  display: flex;
  gap: 20px;
}
.reactionContainer {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #121212;
  width: 100px;
}
.likeIcon,
.dislikeIcon,
.commentBtnIcon {
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
}
.likeIcon:hover,
.dislikeIcon:hover {
  color: red;
}

.selectedReaction {
  color: red;
}
.postCommentButtonContainer {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #121212;
  width: 50px;
  transition: all 0.3s;
}
.postCommentButtonContainer:hover {
  cursor: pointer;
  filter: contrast(0.8);
}
